doctype html
html
  head
    meta(http-equip='cache-control', content='no-store')
    title User Login
  body
    form(method=post, action='/login')
      label(for='login') Username:
      br
      input(name='userName')
      br
      label(for='password') Password:
      br
      input(name='password')
      br
      br
      input(type='submit', name='submit', value='submit')
