doctype html
html
	head
		meta(http-equiv='cache-control', content='no-store')
		title My Secrets
	body
		h1 Welcome to your secrets page

	My Secret:
		input(type='text', name='secret')
		br
		input(type='submit', value='Submit')
