doctype html
html
	head
		meta(http-equiv='cache-control', content= 'no-store')
		title My secrets
	body
		h1 Welcome to your secrets page
		h2 My Secrets:
		for secret, i in secrets
			p #{secret.secret}
			a(href='/delete/?id=#{secret.id}') Delete
		else
			p You have no secrets!!!

		form(method='get' action='/addNewSecret')

			input(type='text', name='secretText')
			br
			input(type='submit', value='Submit')
			br
