doctype html
html
	head
		meta(http-equiv='cache-control', content='no-store')
		title Express with Sessions
	body
		form(method=get, action='/addName')
			label(for='yourName') YourName:
			br
			input(name='yourName')

			input(type='submit', name='submit', value='Go')
