doctype html
html
  head
    meta(http-equiv='cache-control', content='no-store')
    title User Login
  body
    h1 Oops, your log in details appear to be incorrect!
    h2 Please try again
    form(action='/login', method='post')
      label(for='login') Username:
      br
      input(name='userName')
      br
      label(for='password') Password:
      br
      input(name='password')
      br
      br
      input(type='submit', value='submit')
